.logo-img {
    max-width: 150px; 
    height: auto; 
    display: inline-block; 
    vertical-align: middle; 
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    background-image: url('images/header-background.jpg');
    background-size: cover;
}

nav {
    background-color: #444;
    height: 50px;
    padding:  0; /* Reduziert den Innenabstand */
    margin-top: -10px; /* Verschiebt das Element nach oben */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a:hover {
    color: #000000; 
}

nav ul li a {
    text-decoration: none;
    color: #d1d0d0;
    transition: color 0.3s;
    padding-top:  26.5px;
    padding-bottom:  26.5px;
    line-height:  47px; /* Passen Sie die Zeilenhöhe an */
    font-size:  20px; /* Erhöht die Schriftgröße auf  20px */
}

main {
    padding: 20px;
    background-color: #ffffffcc;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 50vh;
    margin-bottom: auto;
    width: 100%;
}

.bike img {
    width: 500px; 
    height: auto; 
    border-radius: 30px; 
}

header h1 {
    font-size: 36px; 
    color: #1fcb25; 
}

@media (max-width: 768px) {

    header h1 {
        font-size: 24px;
    }
    
    .bike img {
        width: 100%; 
    }
}

.call-to-action-button {
    background-color:#333 ;
    color: #1fcb25; 
    padding: 1px 10px; 
    font-size: 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
  
    &:hover {
      background-color: #1fcb25;; 
    }
  }

  body {
    background-image: url('images/Road-Rider-Guide\ \(1\).png');
    background-size: contain;
    background-position: center center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    
}
/* Stellen Sie sicher, dass der Container relativ positioniert ist */
header.fade-in-up {
    position: relative;
  }
  
  /* Positionieren Sie das neue Element oben rechts innerhalb des Headers */
  .obere-rechte-ecke {
    position: absolute;
    top:  0;
    right:  50;
    /* Weitere Stile für das Element, z. B. Farbe, Größe usw. */
  }
  input[type=radio] {
    display: none;
  }
  
  label {
    background: orange;
    display: inline-block;
    float: none;
    height: 20px;
    margin: 5px;
    width: 20px;
  }
  
  input:checked + label,
  input:checked ~ input + label {
    background: green;
  }