.logo-img {
    max-width: 150px; 
    height: auto; 
    display: inline-block; 
    vertical-align: middle; 
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    background-image: url('images/header-background.jpg');
    background-size: cover;
}

nav {
    background-color: #444;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a:hover {
    color: #000000; 
}

nav ul li a {
    text-decoration: none;
    color: #1fcb25;
    transition: color 0.3s;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 50vh;
    margin-bottom: auto;
    width: 100%;
}

.bike img {
    width: 500px; 
    height: auto; 
    border-radius: 30px; 
}

header h1 {
    font-size: 36px; 
    color: #1fcb25; 
}

@media (max-width: 768px) {

    header h1 {
        font-size: 24px;
    }
    
    .bike img {
        width: 100%; 
    }
}

.call-to-action-button {
    background-color:#333 ;
    color: #1fcb25; 
    padding: 1px 10px; 
    font-size: 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
  
    &:hover {
      background-color: #1fcb25;; 
    }
  }

  body {
    background-image: url('images/Road-Rider-Guide\ \(1\).png');
    background-size: contain;
    background-position: center center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
}